monitor=,preferred,auto,1

{{ if .isPersonal -}}
$primaryMonitor=DP-1
$secondaryMonitor=DP-2
{{ end -}}

{{ if .isWork -}}
$primaryMonitor=desc:Dell Inc. DELL P2725D 24CRZ64
$secondaryMonitor=desc:Dell Inc. DELL P2725D 3S5S864
{{ end -}}
