{{/* boolean feature tags */}}
{{- $isWork := false -}}{{/* true if this machine is a work machine */}}
{{- $isPersonal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "rocket" -}}
{{-   $isPersonal = true -}}
{{- else -}}
{{-   $isWork = true -}}
{{- end -}}

{{- $isWindows := eq .chezmoi.os "windows" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isMacOS := eq .chezmoi.os "darwin" -}}
{{- $isCodespaces := eq (env "CODESPACES") "true" -}}
{{- $isHyprland := eq (env "XDG_CURRENT_DESKTOP") "Hyprland" -}}

{{- $firstname := "Joseph" -}}
{{- $lastname := "Petersen" -}}
{{- $name := printf "%s %s" $firstname $lastname -}}
{{- $githubUsername := "jetersen" -}}
{{- $personalEmail := "me@jetersen.dev" -}}
{{- $workEmail := "jop@moviestarplanet.com" -}}
{{- $email := $personalEmail -}}
{{- if $isWork -}}
{{-   $email = $workEmail -}}
{{- end -}}

sourceDir = "{{ .chezmoi.homeDir}}/git/code/dotfiles/home"

[data]
  firstname = {{ $firstname | quote }}
  lastname = {{ $lastname | quote }}
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  workEmail = {{ $workEmail | quote }}
  personalEmail = {{ $personalEmail | quote }}
  hostname = {{ $hostname | quote }}
  githubUsername = {{ $githubUsername | quote }}
  isPersonal = {{ $isPersonal }}
  isWork = {{ $isWork }}
  isWindows = {{ $isWindows }}
  isLinux = {{ $isLinux }}
  isMacOS = {{ $isMacOS }}
  isCodespaces = {{ $isCodespaces }}
  isHyprland = {{ $isHyprland }}
  passUriPrefix = "pass://Personal"

[interpreters.ps1]
  command = "pwsh"
  args = ["-NoProfile", "-NoLogo"]

[github]
  refreshPeriod = "12h"

[hooks.read-source-state.pre]
{{ if $isLinux }}
    command = "/usr/bin/env"
    args = ["-S","bash", "-euo", "pipefail", {{ joinPath .chezmoi.sourceDir ".chezmoiscripts/linux/.init.sh" | toToml }}]
{{ end }}
{{ if $isWindows }}
    command = {{ joinPath (env "SystemRoot") "System32/WindowsPowerShell/v1.0/powershell.exe" | toToml }}
    args = ["-NoLogo", "-NoProfile", {{ joinPath .chezmoi.sourceDir ".chezmoiscripts/windows/.init.ps1" | toToml }}]
{{ end }}
{{ if $isMacOS }}
    command = "/usr/bin/env"
    args = ["-S","bash", "-euo", "pipefail", {{ joinPath .chezmoi.sourceDir ".chezmoiscripts/macos/.init.sh" | toToml }}]
{{ end }}
