prefix={{ .chezmoi.homeDir }}/.npm-global
{{ if .isWork -}}
@msp:registry={{ output "pass-cli" "item" "view" "--vault-name" "Work" "--item-title" "MSP npm registry" "--field" "note" | trim }}
{{ end -}}
