// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

/- output "DP-1" {
  mode "2560x1440@359.979" // Set resolution and refresh rate
  scale 1 // No scaling (use 2 for HiDPI)
}

output "eDP-1" {
  mode "1920x1200@60.001"
  scale 1
}
