// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
  keyboard {
    xkb {
      layout "us,dk"
    }
    //numlock // Enable numlock on startup
  }

  touchpad {
    tap // Enable tap-to-click
    //natural-scroll // Enable natural (macOS-style) scrolling
  }

  focus-follows-mouse // Automatically focus windows under the mouse pointer
  workspace-auto-back-and-forth // Enable workspace back & forth switching
}
