layout {
  gaps 0 // Gap between windows
  center-focused-column "never" // Don't auto-center focused column
  always-center-single-column

  background-color "transparent" // <- needed for noctalia-shell to set wallpaper

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
    proportion 1.0
  }

  struts {}
}
