prefer-no-csd
screenshot-path null

environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORM "wayland"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  XDG_SESSION_TYPE "wayland"
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORMTHEME "gtk3"
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

hotkey-overlay {
  skip-at-startup
}
