{{ if eq .chezmoi.osRelease.id "cachyos" -}}
{{ if .isPersonal -}}
#!/usr/bin/env fish

# hypr-butler {{ output "git" "-C" (joinPath .chezmoi.homeDir "git/code/hypr-butler") "rev-parse" "--short" "HEAD" | trim }}

set butler_dir ~/git/code/hypr-butler

echo "Building hypr-butler..."
cargo build --release --manifest-path $butler_dir/Cargo.toml

and pkill hypr-butler; cp $butler_dir/target/x86_64-unknown-linux-musl/release/hypr-butler ~/.local/bin/hypr-butler
and echo "hypr-butler installed to ~/.local/bin/hypr-butler"
and hypr-butler &
{{ end -}}
{{ end -}}
